/* Tablet (768 px)  */
 
/* HEADER  */
@media screen and (min-width: 768px){
    .container{
        max-width: 700px;
    }
}
/* MAIN */
/* parte demo  */
@media screen and (min-width: 768px){
    .container-main{
        max-width: 750px;
    }
    .col-md-66{
        width: calc((100% / 3) * 2);
    }
    .col-md-33{
        width: calc(100% /3);
    }
    .content-demo{
        margin: 10px;
    }
    .content-demo img{
        width: 49%;
    }
}
/* parte planning  */
@media screen and (min-width: 768px){
    .bg-img-planning {
        height: 700px;
    }
    #title-planning{
        font-size: 70px;
    }
    #paragrph-planning{
        font-size: 14px;
        line-height: 20px;
    }
    .content-planning {
       margin: 40px 20px 80px 20px;
    }
    .content-planning img{
        width: 85%;
    }
}
/* parte testimonial  */
@media screen and (min-width: 768px){
    .content-testimonial{
        margin: 15px 20px;
    }
    .col-md-35{
        width: 35%;
     }
    .col-md-65{
        width: 65%;
     }
     .content-testimonial .row {
        text-align: left;
     }
     .content-testimonial .row p{
        margin-top: 20px;
        font-size: 17px;
     } 
     .content-testimonial .row h4{
        font-size: 18px;
     } 
}
/* parte benefits  */
@media screen and (min-width: 768px){
    .col-md-50{
        width: 50%;
    }
    .content-benefits{
        margin: 15px 15px;
    }
    .numbers{
        font-size: 70px;
    }
    .content-benefits p{
        font-size: 15px;
        line-height: 25px;
    }
}
/* parte about us  */
@media screen and (min-width: 768px){
    .col-md-60{
        width: 60%;
    }
    .col-md-40{
        width: 40%;
    }
    .content-about-us {
        margin: 100px 30px;
    }
    .content-about-us h2{
        font-size: 75px;
        margin: 0px 0px 50px 0px;
    }
    .content-about-us h3{
        padding-right: 0px;
        position: relative;
        bottom: 90px;
    }
    .content-about-us span{
        position: relative;
        left: 143px;
        bottom: 215px;
    }
    .b-linkedin{
        position: relative;
        bottom: 90px;
    }
}
/* parte get started  */
@media screen and (min-width: 768px){
    .content-get-started p{
        padding: 0px 100px;
    }
    .content-get-started h3{
        font-size: 50px;
    }
    .content-get-started ul{
        display: flex;
    }
}

/* DESKTOP  */

/* prima parte */
@media screen and (min-width: 1200px){
    .container{
        max-width: 1200px;
    }
    .container-main{
        max-width: 1200px;
    }
    .col-lg-40{
        width: 40%;
    }
    .col-lg-60{
        width: 60%;
    }
    .content-demo img{
        width: 103%;
    }
    .content .d-block{
        display: none;
    }
    .content .d-none{
        display: block;
    }
    .content ul{
        display: flex;
    }
    .content li{
        margin: 0px 8px;
    }
    .content a{
        text-decoration: none;
        color: white;
    }
    .content .b-get-started{
    padding: 5px;
    font-size: 17px;
    letter-spacing: 0px;
    width: 100px;
    color: black;
    background-color: white;
    }
}

/* parte planning  */
@media screen and (min-width: 1200px){
  .col-lg-50{
    width: 50%;
  }
  .bg-img-planning{
    width: 450px;
    height: 400px;
    margin-left: 100px;
  }
  #title-planning{
    font-size: 30px;
    margin-left: 100px;
  }
  #paragrph-planning{
    font-size: 17px;
    line-height: 30px;
    padding-right: 90px;
    margin-left: 100px;
  }
  .content-planning{
    padding: 50px 40px;
    margin: 250px 100px 50px 20px;
  }
  .content-planning img {
    width: 60%;
  }
}
/* parte testimonial  */

@media screen and (min-width: 1200px){
    .col-lg-25{
        width: 25%;
    }
    .col-lg-75{
        width: 75%;
    }
}
/* parte benefits  */
@media screen and (min-width: 1200px){
    .col-lg-33{
        width: calc(100% / 3);
    }
    
}
/* parte about us  */
@media screen and (min-width: 1200px){
    .content-about-us span{
        position: relative;
        bottom: 130px;
        left: -60px;
    }
    .content-about-us h3{
        padding-right: 150px;
        position: relative;
        bottom: 0px;
    }
    .b-linkedin{
        position: relative;
        bottom: 0px;
    }
}
/* parte get started  */
@media screen and (min-width: 1200px){
    .content-get-started p{
        padding: 0px 400px;
        font-size: 15px;
    }
    .content-get-started h3{
        font-size: 45px;
    }
}